<!doctype html>
<html lang="en" ng-app="FreedaApp">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="resources/css/vendors/bootstrap.min.css">
		<link rel="stylesheet" href="resources/css/freeda.css">
		<link rel="stylesheet" href="resources/css/vendors/font-awesome-4.5.0/css/font-awesome.css">
		<script type="application/javascript" src="resources/js/vendors/jquery-1.10.2.min.js"></script>
		<script type="application/javascript" src="resources/js/vendors/angular.min.js"></script>
		<script type="application/javascript" src="resources/freeda.js"></script>
		<script type="application/javascript" src="resources/js/vendors/bootstrap.min.js"></script>
		<title>Freeda Test - Samuel Goncalves</title>
	</head>
	<body ng-controller="UserController" class="container text-center">

		<div class="customer-box text-center" ng-repeat="customer in customers">			
			<img ng-click="editUser($index)" class="clip-circle" src="{{customer.picture.large}}"/>
			<p class="name">{{utils.normalizeName(customer.name.first)}} {{utils.normalizeName(customer.name.last)}}</p>
			<p class="phone"><i class="fa fa-phone" aria-hidden="true"></i>{{customer.phone}}</p>
			<p class="email"><a href="mailto:{{customer.email}}">{{customer.email}}</a></p>
		</div>


		<!-- Modal -->
		<div class="modal fade text-left" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h3 class="modal-title" id="myModalLabel">
							<img class="clip-circle" src="{{customers[currentCustomerIndex].picture.thumbnail}}"/>
							{{utils.normalizeName(customers[currentCustomerIndex].name.first)}} {{utils.normalizeName(customers[currentCustomerIndex].name.last)}}
						</h3>
					</div>
					<div class="modal-body">							
						
						<form>
							<div class="form-group">
								<label for="inputEmail">Email address</label>
								<input type="email" class="form-control" id="inputEmail" placeholder="Email">
							</div>
							<div class="form-group">
								<label for="inputPhone">Phone number</label>
								<input type="text" class="form-control" id="inputPhone" placeholder="Phone Number">
							</div>
						</form>
						
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-primary" ng-click="saveUser()">Save</button>
					</div>
				</div>
			</div>
		</div>		
			
	</body>
</html>
