div.customer-box {
	width:350px;
	height:270px;
	border:1px solid $dark-medium-color;
	display: inline-block;
	border-radius:10px;
	padding:20px;
	margin:10px;
	background-color:#FFFFFF;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
	
	@media screen and (max-width: $tablet-size) {
      width:98%;
    }
	@media screen and (max-width:$desktop-size) and (min-width:$tablet-size) {
      width:45%;
    }
}

div.customer-box p.phone, div.customer-box p.email {
	margin:0px;
	font-size:10pt;
}

div.customer-box img:hover {
	cursor:pointer;
}

div.customer-box p.name {
	font-size:18pt;
}

.clip-circle {
  clip-path: circle(60px at center);
}

i.fa {
	margin-right:10px;
}